<!DOCTYPE html>
<html>
	<head>
		<%- include('header-imports.html') -%>
		<link rel="stylesheet" type="text/css" href="/css/bill.css">
	</head>
	<body>
		<div id="bill">
			<%- include('header-bar.html') -%>
			<h2>Contas</h2>
			<button type="button" class="btn btn-default btn-sm" v-on:click="new" >Cadastrar venda</button>
			<button type="button" class="btn btn-default btn-sm" v-on:click="list" >Visualizar vendas</button>

			<div v-if="register">
				<%- include('bill-register.html') -%>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="/lib/moment/moment.js"></script>
	<script type="text/javascript" src="/js/bill.js"></script>
</html>