<!DOCTYPE html>
<html>
	<head>
		<%- include('header-imports.html') -%>
		<link rel="stylesheet" type="text/css" href="/css/bill.css">
	</head>
	<body>
		<div id="bill" v-cloak>
			<%- include('header-bar.html') -%>
			<h2>Vendas</h2>
			<button type="button" class="btn btn-default btn-sm" v-on:click="new" ><span class="glyphicon glyphicon-plus"></span></button>
			<div v-show="register">
				<%- include('bill-register.html') -%>
			</div>
			<div v-show="!register">
				<%- include('bill-list.html') -%>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/lib/moment/moment.js"></script>
	<script type="text/javascript" src="/js/bill.js"></script>
</html>