<!DOCTYPE html>
<html>
	<head>
		<%- include('header-imports.html') -%>
		<link rel="stylesheet" type="text/css" href="/css/client.css">
	</head>
	<body>
		<div id="clients" v-cloak>
			<%- include('header-bar.html') -%>

			<div v-show="!register" class="form-inline">
				<h2>Clientes</h2>
				<button type="button" 
					class="btn btn-default btn-sm" 
					v-on:click="new">
						<span class="glyphicon glyphicon-plus"></span>
				</button>
				<span class="client-space"></span>
				<label>Nome:</label>
				<input type="text" 
					name="name" 
					class="form-control input-sm" 
					v-on:keyup="loadData" 
					v-model="name"
					style="text-transform: uppercase" >
				<label>CPF:</label>
				<input type="text" 
					name="cpf" 
					class="form-control input-sm" 
					v-on:keyup="loadData" 
					v-model="cpf">
				<div class="client-table-container">	
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Celular</th>
								<th>Telefone</th>
								<th>CPF</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="c in clients">
								<td>{{c.name}}</td>
								<td>{{c.phoneOne}}</td>
								<td>{{c.phoneTwo}}</td>
								<td>{{c.cpf}}</td>
								<td>
									<button type="button" 
										class="btn btn-primary btn-sm" 
										v-on:click="edit(c)">
											<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" 
										class="btn btn-danger btn-sm" 
										v-on:click="remove(c)">
											<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pagination pagination-sm">
				 	<li>
				      <a href="#" aria-label="Previous" v-on:click="previous()">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
					<li v-for="p in pages">
						<a href="#" v-on:click="middle(p)">{{p}}</a>
					</li>
					<li>
				      <a href="#" aria-label="Next" v-on:click="next()">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				</ul>
			</div>

			<div v-show="register">
				<h2>Cadastro de cliente</h2>
				<button type="button" 
					class="btn btn-default btn-sm" 
					v-on:click="back">
						<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<hr />
				<div class="form-inline client-form">
					<div>
						<label class="client-form-label">Nome</label>
						<input type="text" 
							name="clientName" 
							class="form-control input-sm" 
							v-model="client.name"
							v-on:blur="validName" 
							style="text-transform: uppercase" />
						<div class="client-error">{{msgName}}</div>
					</div>
					<div>
						<label class="client-form-label">CPF</label>
						<input type="text" 
							name="clientCpf" 
							class="form-control input-sm" 
							v-on:blur="validCpf"
							v-model="client.cpf">
						<div class="client-error">{{msgCpf}}</div>
					</div>
					<div>
						<label class="client-form-label">Data de nascimento</label>
						<input type="date" 
							name="clientBornDate" 
							class="form-control input-sm" 
							v-on:blur="validDate"
							v-model="client.bornDate">
						<div class="client-error">{{msgDate}}</div>
					</div>
					<div>
						<label class="client-form-label">País</label>
						<input type="text" 
							name="clientCountry" 
							class="form-control input-sm" 
							v-on:blur="validCountry"
							v-model="client.country"
							style="text-transform: uppercase">
						<div class="client-error">{{msgCountry}}</div>
					</div>
					<div>
						<label class="client-form-label">Estado</label>
						<input type="text" 
							name="clientState" 
							class="form-control input-sm" 
							v-on:blur="validState"
							v-model="client.state"
							style="text-transform: uppercase">
						<div class="client-error">{{msgState}}</div>
					</div>
					<div>
						<label class="client-form-label">Cidade</label>
						<input type="text" 
							name="clientCity" 
							class="form-control input-sm" 
							v-on:blur="validCity"
							v-model="client.city"
							style="text-transform: uppercase">
						<div class="client-error">{{msgCity}}</div>
					</div>
					<div>
						<label class="client-form-label">Endereço</label>
						<input type="text" 
							name="clientAddress" 
							class="form-control input-sm" 
							v-on:blur="validAddress"
							v-model="client.address"
							style="text-transform: uppercase">
						<div class="client-error">{{msgAddress}}</div>
					</div>
					<div>
						<label class="client-form-label">Telefone fixo</label>
						<input type="text" 
							name="clientPhoneOne" 
							class="form-control input-sm" 
							v-on:blur="validPhoneOne"
							v-model="client.phoneOne">
						<div class="client-error">{{msgPhoneOne}}</div>
					</div>
					<div>
						<label class="client-form-label">Telefone celular</label>
						<input type="text" 
							name="clientPhoneTwo" 
							v-on:blur="validPhoneTwo"
							class="form-control input-sm" 
							v-model="client.phoneTwo">
						<div class="client-error">{{msgPhoneTwo}}</div>
					</div>
					<div>
						<label class="client-form-label">Email</label>
						<input type="text" 
							name="clientEmail" 
							v-on:blur="validEmail"
							class="form-control input-sm" 
							v-model="client.email">
						<div class="client-error">{{msgEmail}}</div>
					</div>
					<br />
					<button type="button" 
						class="btn btn-success btn-sm" 
						v-on:click="save">
							<span class="glyphicon glyphicon-floppy-disk"></span>
					</button>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/lib/moment/moment.js"></script>
	<script type="text/javascript" src="/js/client.js"></script>
	<script type="text/javascript" src="/js/client.form.js"></script>
</html>