<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">4 Estações</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <% if(title == "Clientes") { %> class="active" <% } %> >
          <a href="/clients">Clientes<span class="sr-only">(current)</span></a>
        </li>
        <li <% if(title == "Vendas") { %> class="active" <% } %> >
          <a href="/bills">Vendas</a>
        </li>
        <li <% if(title == "Fornecedores") { %> class="active" <% } %> >
          <a href="/suppliers">Fornecedores</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if(user) { %>
            <li><a href="#"> Bem vindo <%= user.username %></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
          <% } else { %>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span></a></li>
          <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>