<h4>Cadastro de compra</h4>
<button type="button" 
	class="btn btn-default btn-sm" 
	v-on:click="back">
		<span class="glyphicon glyphicon-chevron-left"></span>
</button>
<hr />
<div class="form-inline">
	<span v-if="!supplierView">
		<span style="width: 150px; display:inline-block;">
			<button type="button" 
				class="btn btn-default btn-sm"
				v-on:click="supplierApplyFilter">
					<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>	
		<label style="width: 450px;">Fornecedor: {{purchase.supplier.name}}</label>
	</span>
	<div v-if="supplierView">
		<%- include('purchase-supplier.html') -%>
	</div>
</div>
<div class="form-inline purchase-form">
	<div>
		<div>
			<label>Descrição</label>
			<textarea rows="10" cols="55" 
				class="form-control input-sm purchase-form-input" 
				v-model="purchase.note"></textarea>
		</div>
		<br />
		<div>
			<label>Data de compra</label>
			<input type="date" 
				class="form-control input-sm purchase-form-input" 
				v-model="purchase.purchaseDate">
		</div>
		<br />
		<div>
			<label>Tipo de pagamento</label>
			<select v-model="purchase.paymentType" 
				class="form-control input-sm purchase-form-input" 
				v-on:blur="validPaymentType">
				<option>Credito</option>
				<option>Debito</option>
				<option>Dinheiro</option>
				<option>Boleto</option>
				<option>Cheque</option>
			</select>
			<div class="purchase-error">{{msgPaymentType}}</div>
		</div>
	</div>
</div>
<hr />
<div class="form-inline purchase-form">
	<b>Valor:</b>
	<input type="number" 
		name="amount"
		v-on:blur="validAmount"
		class="form-control input-sm purchase-form-input-params" 
		v-model="purchase.amount">
	<span v-if="!purchase.id">
		<b>Parcelas:</b>
		<input type="number" 
			class="form-control input-sm purchase-form-input-params" 
			v-model="parcellCount">
		<b>Data:</b>
		<input type="date" 
			class="form-control input-sm purchase-form-input-params" 
			v-model="parcellDateStart">
		<button type="button" 
			class="btn btn-success btn-sm" 
			v-on:click="generateParcels">
				<span class="glyphicon glyphicon-ok"></span>
		</button>
	</span>
	<div class="purchase-error">{{msgAmount}}</div>
</div>
<div class="purchase-parcels">
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Valor (R$)</th>
				<th>Data de pagamento</th>
				<th>Recebido</th>
				<th>Pago</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="p in parcels">
				<td>
					<input type="text" 
						class="form-control input-sm" 
						v-model="p.value"
						v-on:blur="validValueParcels"
						:disabled="purchase.id !== undefined">
				</td>
				<td>
					<input type="date" 
						class="form-control input-sm" 
						v-model="p.paymentDate"
						v-on:blur="validDateParcels"
						:disabled="purchase.id !== undefined">
				</td>
				<td>
					<input type="text" 
						class="form-control input-sm" 
						v-model="p.received"
						v-on:blur="validValueParcels"
						:disabled="purchase.id !== undefined">
				</td>
				<td>
					<input type="checkbox" 
						class="form-control input-sm" 
						v-model="p.payed"
						:disabled="purchase.id !== undefined">
				</td>
			</tr>
		</tbody>
	</table>
	<div class="purchase-error" v-show="msgParcelAmount">{{msgParcelAmount}}</div>
	<div class="purchase-error" v-show="msgDateAmount">{{msgDateAmount}}</div>
</div>
<hr />
<div v-if="purchase.id">
	<div class="form-inline purchase-form">
		<label>Pagamento</label>
		<input type="number" 
			class="form-control input-sm purchase-form-input-params" 
			v-model="paymentValue">
		<input type="date" 
			class="form-control input-sm purchase-form-input-params" 
			v-model="paymentDate">
		<button type="button" 
			class="btn btn-success btn-sm" 
			v-on:click="addPayment">
				<span class="glyphicon glyphicon-ok"></span>
		</button>
	</div>
</div>
<div v-if="purchase.id">
	<div class="purchase-parcels">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Valor (R$)</th>
					<th>Data de recebimento</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="p in payments">
					<td>
						<input type="text" 
							class="form-control input-sm" 
							v-model="p.value"
							v-on:blur="validValueParcels"
							:disabled="purchase.id !== undefined">
					</td>
					<td>
						<input type="date" 
							class="form-control input-sm" 
							v-model="p.paymentDate"
							v-on:blur="validDateParcels"
							:disabled="purchase.id !== undefined">
					</td>
				</tr>
			</tbody>
		</table>
		<label>Recebido: {{purchase.payed}} R$</label>
	</div>
</div>
<br />
<button type="button" 
	class="btn btn-success btn-sm" 
	v-on:click="save">
		<span class="glyphicon glyphicon-floppy-disk"></span>
</button>