<!DOCTYPE html>
<html>
	<head>
		<%- include('header-imports.html') -%>
		<link rel="stylesheet" type="text/css" href="/css/supplier.css">
	</head>
	<body>
		<div id="supplier" v-cloak>
			<%- include('header-bar.html') -%>

			<!-- TABLE LIST -->
			<div v-show="!register" class="form-inline">
				<h2>Fornecedores</h2>
				<button type="button" 
					class="btn btn-default btn-sm" 
					v-on:click="new">
						<span class="glyphicon glyphicon-plus"></span>
				</button>
				<span class="supplier-space"></span>
				<label>Nome:</label>
				<input type="text" 
					name="name" 
					class="form-control input-sm" 
					v-on:keyup="loadData" 
					v-model="name"
					style="text-transform: uppercase" >
				<label>CNPJ:</label>
				<input type="text" 
					name="cnpj" 
					class="form-control input-sm" 
					v-on:keyup="loadData" 
					v-model="cnpj">
				<div class="table-responsive">	
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th class="col-md-3">Nome</th>
								<th class="col-md-2">Celular</th>
								<th class="col-md-2">Telefone</th>
								<th class="col-md-2">CNPJ</th>
								<th class="col-md-1">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="c in suppliers">
								<td>{{c.name}}</td>
								<td>{{c.phoneOne}}</td>
								<td>{{c.phoneTwo}}</td>
								<td>{{c.cnpj}}</td>
								<td>
									<button type="button" 
										class="btn btn-primary btn-sm" 
										v-on:click="edit(c)">
											<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" 
										class="btn btn-danger btn-sm" 
										v-on:click="remove(c)">
											<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pagination pagination-sm">
				 	<li>
				      <a href="#" aria-label="Previous" v-on:click="previous()">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
					<li v-for="p in pages">
						<a href="#" v-on:click="middle(p)">{{p}}</a>
					</li>
					<li>
				      <a href="#" aria-label="Next" v-on:click="next()">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				</ul>
			</div>
			<!-- REGISTER FORM -->
			<div v-show="register">
				<h2>Cadastro de fornecedor</h2>
				<button type="button" 
					class="btn btn-default btn-sm" 
					v-on:click="back">
						<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<hr />
				<div class="form-inline supplier-form">
					<div>
						<label class="supplier-form-label">Nome</label>
						<input type="text" 
							name="supplierName" 
							class="form-control input-sm" 
							v-model="supplier.name"
							v-on:blur="validName" 
							style="text-transform: uppercase" />
						<div class="supplier-error">{{msgName}}</div>
					</div>
					<div>
						<label class="supplier-form-label">CNPJ</label>
						<input type="text" 
							name="supplierCnpj" 
							class="form-control input-sm" 
							v-on:blur="validCnpj"
							v-model="supplier.cnpj">
						<div class="supplier-error">{{msgCnpj}}</div>
					</div>
					<div>
						<label class="supplier-form-label">País</label>
						<input type="text" 
							name="supplierCountry" 
							class="form-control input-sm" 
							v-on:blur="validCountry"
							v-model="supplier.country"
							style="text-transform: uppercase">
						<div class="supplier-error">{{msgCountry}}</div>
					</div>
					<div>
						<label class="supplier-form-label">Estado</label>
						<input type="text" 
							name="supplierState" 
							class="form-control input-sm" 
							v-on:blur="validState"
							v-model="supplier.state"
							style="text-transform: uppercase">
						<div class="supplier-error">{{msgState}}</div>
					</div>
					<div>
						<label class="supplier-form-label">Cidade</label>
						<input type="text" 
							name="supplierCity" 
							class="form-control input-sm" 
							v-on:blur="validCity"
							v-model="supplier.city"
							style="text-transform: uppercase">
						<div class="supplier-error">{{msgCity}}</div>
					</div>
					<div>
						<label class="supplier-form-label">Endereço</label>
						<input type="text" 
							name="supplierAddress" 
							class="form-control input-sm" 
							v-model="supplier.address"
							style="text-transform: uppercase">
						<div class="supplier-error"></div>
					</div>
					<div>
						<label class="supplier-form-label">Telefone fixo</label>
						<input type="text" 
							name="supplierPhoneOne" 
							class="form-control input-sm" 
							v-on:blur="validPhoneOne"
							v-model="supplier.phoneOne">
						<div class="supplier-error">{{msgPhoneOne}}</div>
					</div>
					<div>
						<label class="supplier-form-label">Telefone celular</label>
						<input type="text" 
							name="supplierPhoneTwo" 
							v-on:blur="validPhoneTwo"
							class="form-control input-sm" 
							v-model="supplier.phoneTwo">
						<div class="supplier-error">{{msgPhoneTwo}}</div>
					</div>
					<div>
						<label class="supplier-form-label">Site</label>
						<input type="text" 
							name="supplierSite" 
							v-on:blur="validSite"
							class="form-control input-sm" 
							v-model="supplier.site">
						<div class="supplier-error">{{msgSite}}</div>
					</div>
					<div>
						<label class="supplier-form-label">Email</label>
						<input type="text" 
							name="supplierEmail" 
							v-on:blur="validEmail"
							class="form-control input-sm" 
							v-model="supplier.email">
						<div class="supplier-error">{{msgEmail}}</div>
					</div>
					<br />
					<button type="button" 
						class="btn btn-success btn-sm" 
						v-on:click="save">
							<span class="glyphicon glyphicon-floppy-disk"></span>
					</button>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/lib/moment/moment.js"></script>
	<script type="text/javascript" src="/js/supplier.js"></script>
	<script type="text/javascript" src="/js/supplier.form.js"></script>
</html>