.client-form {
	max-width: 100%;
}

.client-form input {
	width: 300px !important;
}

.client-space {
	width: 100px;
	display:inline-block;
}

.client-error {
	width: 100%;
	color: red;
	height: 20px;
}

.client-form-label {
	width: 150px;
}